.user-list {
  display: flex;
  justify-content: space-around;
  border: 1px solid #aaa;
  margin: 0;
  padding: 10px;
  list-style: none;
}
.user-list-header {
  font-size: 20px;
  font-weight: 800;
}
.home-sty {
  background-color: #aaa;
  text-align: center;
}
.input-field {
  border: 2px solid black;
  width: 260px;
  margin-left: 350px;
  padding: 10px;
  background-color: blueviolet;
  border-radius: 10px;
  height: 300px;
}
